*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
:root{
    --base-color:white;
    --shadow-color: darkgrey;
    --body-base-color:whitesmoke;
    --base-variant:#ccc;
    --text-color: lightgoldenrodyellow;
    --primary-font-color: black;
    --primary-color: whitesmoke;
    --secondary-color: #E6E6FA;
    --dot-scroll-color: #555 ;
    --footer-base-color:#010012;
}
.main{
    width: 100%;
    height: 630px;
    position: relative;
    overflow: hidden;
}
video{
    width: 100%;
    position: absolute;
    z-index: 1;
}
nav{
    position: relative;
    z-index: 1;
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-around;
}
nav .menu{
    display: flex;
    list-style: none;
    margin-right: 20px;
    a{
        text-decoration: none;
        color:var(--primary-color);
        padding: 10px;
    }
}
.compy-name{
    position: relative;
    z-index: 1;
    padding: 30px;
    width: 100%;
    top: 200px;
    text-align: center;
    h1{
        font-size: 54px;
    }
}
.about-us{
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.head{
    padding: 20px;
    h1{
        font-weight: bold;
        font-size: 32px;
    }
}
.info{

    p{
        font-size: 18px;
        line-height: 1.5;
        margin-top: 10px;
        padding: 20px;
        text-align: center;
    }
}
.about-us a button{
    padding: 15px;
    border: none;
    background-color: var(--secondary-color);
    border-radius: 5px;
    cursor: pointer;
}